* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}



header {
    background-color: #f19748;
    color: rgb(52, 225, 216);
    padding: 10px;
    text-align: center;
    font-family: Broadway;
    font-size: 1.9rem;
    display: flex;
    padding-left: 110px;
    
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 123, 59);
    word-spacing: 2px;

}


h1 {
    font-size: 2.5rem;
    color: brown ;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    background-color: rgb(225, 255, 198);
    text-align: left;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(95, 159, 242);
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.4s ease;
}

.nav ul li a:hover {
    background-color: #160788;
    border-radius: 8px;
}



